
<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @task.user.name %>
</p>

<%= link_to 'Edit', edit_task_path(@task),class: 'button'  %> |

